/* src/components/ui/ui.css */

/* --- Feature/Info/Progress Section Styles --- */
.feature-item {
  background-color: #F3F5F5;
  padding: 0.6rem 1.25rem;
  border-radius: 50px;
  color: var(--dark-navy);
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

/* --- Testimonials Section Styles --- */
.testimonial-card {
  position: relative;
  background-color: var(--primary-blue);
  border: none;
  padding: 2rem;
  border-radius: 20px;
  color: white;
}

.testimonial-card::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px 20px 0 20px;
  border-style: solid;
  border-color: var(--primary-blue) transparent transparent transparent;
}

/* This is the class we need for the TrustSection */
.why-trust-section {
  background:
    url('../../assets/images/topo-lines-bg.png') center / cover no-repeat, /* Blue lines on top */
    var(--primary-orange); /* Base orange color at the very back */
  
  position: relative;
}

.subject-card {
  min-width: 320px;
  min-height: 280px;
  border: 1px solid #B4B4B4;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.subject-card:hover {
  border: 1px solid #FFFFFF;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}


/* --- Page Hero Banner Styles --- */
.page-hero-banner {
  background: linear-gradient(to right, #CDF2FF, #FFE8C7);
  display: flex;
  align-items: center;
  min-height: 300px;
}

@media (max-width: 768px) {
  .page-hero-banner {
    padding: 100px 0;
  }
}